{% extends "base.html" %}

{% block title %}Delete profile - {{ user.name }}{% endblock title %}

{% block content %}
<div class="container">
    <h3><span class="badge rounded-pill bg-danger text-white">Deleting</span> Are you sure about deleting this profile?</h3>
    <div class="card special-card text-white" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ user.name }}</h5>
            <h6 class="card-subtitle mb-2">Email: {{ user.email }}</h6>
            <form method="POST" action="/profile/delete">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                    <div class="col-sm">
                        <a href="/profile" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}